.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url(../../edusity_assets/hero.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.hero h2 {
  text-align: center;
  max-width: 800px;
  font-size: 60px;
}
.hero p{
    text-align: center;
    max-width: 650px;
    line-height: 1.3em;
    margin:20px 0;
}
