.title-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}
.title-section .title p{
    text-transform: uppercase;
    color: cadetblue;
    font-weight: 600;
}
.sub-title h2{
    font-size: 40px;
    margin-top: 20px;
    
}