.footer-section{
    width: 100%;
}
.footer{
    width: 70%;
    margin: 20px auto;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom ul{
    list-style-type: none;
    display: flex;
    width: 25%;
    justify-content: space-between;
}